body { font-family: 'Inter', sans-serif; }
.hidden-view { display: none !important; }
.active-nav { 
    background-color: #eff6ff; 
    color: #2563eb; 
    font-weight: 600; 
}
.active-nav::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 4px;
    background-color: #2563eb;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-item { position: relative; }
